<div class="col formRech">
  <p>Mot de passe oublié</p>
  <form>
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">E-mail</label>
      <input type="email" class="form-control" id="exampleFormControlSelect1" placeholder="Entrez votre adresse mail">
    </div>
    <div class="col-auto">
      <label for="inputPassword2" class="form-label">Nouveau mot de passe</label>
      <input type="password" class="form-control" id="exampleFormControlSelect1"
        placeholder="Entrez le nouveau mot de passe">
    </div>

    <div class="subs">
      <button type="submit" class="btn btnConnect">Valider</button>

    </div>
  </form>
</div>
