<div class="grid-container">
  <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div class="row">
      <div class="col">
        <img src="assets/images/pers1.png "id= "img">
      </div>
      <div class="col">
        <h4 class="titre"> Janathan smith</h4>
        <p id="time">11H30</p>
      </div>
      
    </div>
    <div class="d-flex align-items-center flex-wrap text-nowrap">
    
      <button type="button" class="btn  btn-icon-text mb-2 mb-md-0">
        <i class="btn-icon-prepend" data-feather="download-cloud" appFeatherIcon></i>
        supprimer
      </button>
    </div>
  </div>
  <div class="container">
    <div class="d-flex justify-content-between align-items-center ">
        <h3 id="titr">hi bro</h3>

    </div>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, adipisci velit. Consectetur esse totam impedit cupiditate dignissimos deleniti necessitatibus illum voluptatibus recusandae. Nemo eius ex officia molestiae neque tempore sed?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus delectus voluptates cumque quod eos quas. Facilis quo, illo tenetur, explicabo est numquam non obcaecati quam dolor unde sunt eaque consequatur!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus delectus voluptates cumque quod eos quas. Facilis quo, illo tenetur, explicabo est numquam non obcaecati quam dolor unde sunt eaque consequatur!</p>
  </div>
  <h2 style="margin-left: 20px;">Attachement(5)</h2>
  <div class="row">
    <img src="assets/images/house.png" alt="" id="atta">
    <img src="assets/images/house.png" alt="" id="atta">
    <img src="assets/images/house.png" alt="" id="atta">
  </div>
  <h3 id="rep">Repondre</h3>
</div>
