.sect {
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 0px;
  padding-right: 0px;
}
.mat-tab-group {
  margin-bottom: 48px;
}
.btnConsulte {
  padding: 5px 6px;
  background: #000000;
  border-radius: 6px;
  margin-top: -16px;
  font-size: 12px;
  margin-left: -20px;
  color: #ffffff;
}
.nbr {
  font-size: 10px;
  color: #333333;
}
.nbr i {
  color: #6ea72f;
}
.cardF {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #6ea72f;
}
.bi-geo-alt-fill {
  color: #6ea72f;
}
.cartitle {
  font-size: 23px;
  font-weight: 400;
}
.card {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  transform: scale(1.009);
}
.img-fluid {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* responsive mobile */
@media only screen and (min-width: 260px) and (max-width: 540px) {
  .img-fluid {
    object-fit: cover;
    width: 100%;
    height: 150px;
  }
  .divrow {
    display: flex;
    flex-direction: column;
  }
  .mnt {
    display: flex;
    flex-direction: column !important;
  }
}
