<div class="grid-container">
  <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
    
      <h4 class="mb-3 mb-md-0">Les Propriétés que vous avez loués</h4>
      
    </div>
    <div class="d-flex align-items-center flex-wrap text-nowrap">
    
      <button type="button" class="btn  btn-icon-text mb-2 mb-md-0">
       <span>
        <mat-icon>home</mat-icon>
        /Propriétés
       </span> 
      </button>
    </div>
  </div>
  <div class="container">
    <div class="pt-5">
            <img src="assets/images/pers1.png" alt="" class="imagesC">     
    </div>
    <form action="">
      <div class="row pt-5">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <form action="">
              <label for="">Prenom</label>
              <input type="text" class="form-control" placeholder="First name">
            </form>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label for="">Nom</label>
          <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label for="">email</label>
          <input type="text" class="form-control" placeholder="First name">
        </div>
       </div>
       <div class="row pt-2">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <form action="">
              <label for="" >telephone</label>
              <input type="text" class="form-control" placeholder="First name">
            </form>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label for="">addresse</label>
          <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label for="">moyen de paiement</label>
          <input type="text" class="form-control" placeholder="First name">
        </div>
       </div>
       <div class="row pt-2">
        
            <form action="">
              <label for="">numero de carte</label>
              <input type="text" class="form-control" placeholder="First name" id="text">
            </form>
  
       </div> 
      <div class="pt-2 p-2 boutn">
        <button mat-raised-button class="btn1">envoyer</button> &nbsp;
        <button mat-raised-button class="btn2">annuler</button>
      
      </div>
      
      </form>
  </div>
</div>
