<div class="test">
  <div class="container">
    <div class="row ">
      <div class="col-10">
        <p>Urban-Africa@alakham.com</p>
      </div>
      <div class="col">
        <p> 77 777 77 57</p>
      </div>
    </div>
  </div>

</div>
<nav class="navbar navbar-expand-lg navbar-white bg-white">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../assets/images/rentaimmo.jpg" width="100" height="60" class="d-inline-block align-top" alt="">
      <span class="txtlogo"> Rental Immo</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="mx-auto"></div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">A propos de nous</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Nos biens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Contact</a>
        </li>
      </ul>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="submit" class="btn btnConnect">Se connecter</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="submit" class="btn btnInscrire">S’inscrire</button>

    </div>
  </div>

</nav>
