<section class="full">
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="../assets/images/about1.png" alt="" class="imgabout" srcset="">
      </div>
      <div class="col">
        <div>
          <h1>Vous cherchez la meilleure propriété près de chez vous ? Contactez nous</h1>
          <!-- <p class="p1">Vous chercher à louer acheter vendre mettre à location un bien immobimlié ? Contactez nous </p> -->
          <p class="p2">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
            adipisci velit, sed quia non numquam.Nemo enim ipsam voluptatem quia voluptas sit
            aspernatur aut odit aut fugit,
            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            Neque porro quisquam est,
            qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
        </div>
        <div class="divbtn">
          <button type="submit" class="btn btnsavoirplus">
            <small>Telephone</small><br>
            <i class="bi bi-telephone"> &nbsp;&nbsp; </i>
            +221 77 777 77 77</button> &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="submit" class="btn btnsavoirplus">
            <small>E-mail</small><br>
            <i class="bi bi-envelope"></i>&nbsp;&nbsp;
            example@immo.com
          </button>
        </div>

      </div>
    </div>
  </div>

</section>
