<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/images/immo1.png" class="d-block w-100" alt="...">
      <div class="carousel-caption row">
        <div class="col-8">
          <h1 class="txtright1">Trouvez votre propriété la plus appropriée </h1>
          <p class="txtright2">Un grand nombre de propriétés disponibles ici pour acheter et vendre, vous pouvez
            également trouver ici des
            biens en cohabitation, vous avez donc beaucoup d'opportunités</p>

          <button type="submit" class="btn btnConsulte">Consulter Notre Catologue</button>

        </div>
        <div class="col formRech">
          <p>Maison, appartement, studio, box : Rechercher et trouver</p>
          <form>
            <label for="exampleFormControlSelect1">Type</label>
            <select class="form-control col-md-4" id="exampleFormControlSelect1">
              <option>Property Type</option>
              <option>2</option>
              <option>3</option>
            </select>
            <label for="exampleFormControlSelect1">Status</label>
            <select class="form-control col-md-4" id="exampleFormControlSelect1">
              <option>A louer</option>
              <option>2</option>
              <option>3</option>
            </select>
            <label for="exampleFormControlSelect1">Localisation</label>
            <select class="form-control col-md-4" id="exampleFormControlSelect1">
              <option>Type Location</option>
              <option>2</option>
              <option>3</option>
            </select>

            <button type="submit" class="btn btnRech">Recherchez</button>
          </form>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../assets/images/immo2.png" class="d-block w-100" alt="...">
      <div class="carousel-caption row">
        <div class="col-8">
          <h1 class="txtright1">Trouvez votre propriété la plus appropriée </h1>
          <p class="txtright2">Un grand nombre de propriétés disponibles ici pour acheter et vendre, vous pouvez
            également trouver ici des
            biens en cohabitation, vous avez donc beaucoup d'opportunités</p>

          <button type="submit" class="btn btnConsulte">Consulter Notre Catologue</button>

        </div>
        <div class="col formRech">
          <p>Maison, appartement, studio, box : Rechercher et trouver</p>
          <form>
            <label for="exampleFormControlSelect1">Type</label>
            <select class="form-control col-md-4" id="exampleFormControlSelect1">
              <option>Property Type</option>
              <option>2</option>
              <option>3</option>
            </select>
            <label for="exampleFormControlSelect1">Status</label>
            <select class="form-control col-md-4" id="exampleFormControlSelect1">
              <option>A louer</option>
              <option>2</option>
              <option>3</option>
            </select>
            <label for="exampleFormControlSelect1">Localisation</label>
            <select class="form-control col-md-4" id="exampleFormControlSelect1">
              <option>Type Location</option>
              <option>2</option>
              <option>3</option>
            </select>

            <button type="submit" class="btn btnRech">Recherchez</button>
          </form>
        </div>
      </div>

    </div>
    <div class="carousel-item">
      <img src="../assets/images/immo1.png" class="d-block w-100" alt="...">
      <div class="carousel-caption row">
        <div class="col-8">
          <h1 class="txtright1">Trouvez votre propriété la plus appropriée </h1>
          <p class="txtright2">Un grand nombre de propriétés disponibles ici pour acheter et vendre, vous pouvez
            également trouver ici des
            biens en cohabitation, vous avez donc beaucoup d'opportunités</p>

          <button type="submit" class="btn btnConsulte">Consulter Notre Catologue</button>

        </div>
        <div class="col formRech">
          <p>Maison, appartement, studio, box : Rechercher et trouver</p>
          <form>
            <label for="exampleFormControlSelect1">Type</label>
            <select class="form-control col-md-4" id="exampleFormControlSelect1">
              <option>Property Type</option>
              <option>2</option>
              <option>3</option>
            </select>
            <label for="exampleFormControlSelect1">Status</label>
            <select class="form-control col-md-4" id="exampleFormControlSelect1">
              <option>A louer</option>
              <option>2</option>
              <option>3</option>
            </select>
            <label for="exampleFormControlSelect1">Localisation</label>
            <select class="form-control col-md-4" id="exampleFormControlSelect1">
              <option>Type Location</option>
              <option>2</option>
              <option>3</option>
            </select>

            <button type="submit" class="btn btnRech">Recherchez</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
