<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <div class="container ">
    <div class=" p-5 ">
      <mat-card class="pt-2">
        <div class="row pt-2 p-3">
          <div class="col-sm-8 col-md-8">
            <div class="d-flex justify-content-right align-items-baseline">
              <h3>Orchard House</h3> <br>
             </div>
              
              <span><p>779 6th Ave New York, NY 120400</p></span>
              <div class="row">
                <div class="col">
                  <mat-icon>home</mat-icon>6 Chambres
                </div>
                <div class="col">
                  <mat-icon>home</mat-icon> 6 Chambres
                </div>
                <div class="col">
                  <span> <mat-icon>home</mat-icon>6 Chambres</span>
                </div>
                <div class="col">
                  <div class="pt-2">
                    <a mat-raised-button routerLink="#">envoyer</a> &nbsp;
                    
                   </div>
                </div>
                <div class="col">
                  <div class="pt-2">
                    <a mat-raised-button routerLink="#">envoyer</a> 
                    
                   </div>
                  
                </div>
              </div>
              
          </div>
          <div class="col-sm-4 col-md-4 pt-5 text-center">
            <div class="d-flex justify-content-center align-items-baseline">
             <h2>3300000Fcfa</h2>
             </div> <br> 
          </div>
        </div>
    </mat-card> 
    <div class="pt-3 d-flex justify-content-center">
      <a mat-raised-button routerLink="#" class="pt-2 p-2">envoyer</a>
    </div>
    
    </div >
     <div>
        
    <form action="">
    <div class="row pt-5">
      <div class="col-sm-4 col-md-4 col-lg-4">
          <form action="">
            <label for="">Prenom</label>
            <input type="text" class="form-control" placeholder="First name">
          </form>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label for="">Nom</label>
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label for="">email</label>
        <input type="text" class="form-control" placeholder="First name">
      </div>
     </div>
     <div class="row pt-2">
      <div class="col-sm-4 col-md-4 col-lg-4">
          <form action="">
            <label for="" >telephone</label>
            <input type="text" class="form-control" placeholder="First name">
          </form>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label for="">addresse</label>
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label for="">moyen de paiement</label>
        <input type="text" class="form-control" placeholder="First name">
      </div>
     </div>
     <div class="row pt-2">
      <div class="col-sm-4 col-md-4 col-lg-4">
          <form action="">
            <label for="">numero de carte</label>
            <input type="text" class="form-control" placeholder="First name">
          </form>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label for="">numero cvv</label>
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label for="">date expiration</label>
        <input type="text" class="form-control" placeholder="First name">
      </div>
     </div> 
    <div class="pt-2 p-2 text-left">
      <button mat-raised-button color="primary">envoyer</button> &nbsp;
      <button mat-raised-button color="danger">annuler</button>
    
    </div>
    
    </form>
    
    </div>
  </div>
</div>
