<div class="grid-container">
  <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
    
      <h4 class="mb-3 mb-md-0">Ajouter Une Propriété</h4>
      
    </div>
    <div class="d-flex align-items-center flex-wrap text-nowrap">
    
      <button type="button" class="btn  btn-icon-text mb-2 mb-md-0">
       <span>
        <mat-icon>home</mat-icon>
        /Propriétés
       </span> 
      </button>
    </div>
  </div>
  <div class="container">
    <h1>Formulaire d'Ajout</h1>
   <form action="">
    <div class="row pt-5">
      <div class="col-sm-4 col-md-4 col-lg-4">
          <form action="">
            <label for="" >Prenom</label>
            <input type="text" class="form-control" placeholder="First name">
          </form>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label for="">Nom</label>
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label for="">Telephone</label>
        <input type="text" class="form-control" placeholder="First name">
      </div>
     </div>
     <div class="row pt-2">
      <div class="col-sm-4 col-md-4 col-lg-4">
          
            <label for="" >sexe</label>
            <select class="form-control">
                   <option>M</option>
                   <option>F</option>
            </select>
          
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label for="">Date de naissance</label>
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label for="">Email</label>
        <input type="email" class="form-control" placeholder="First name">
      </div>
     </div>
     <div class="row pt-2">
      <div class="col-sm-4 col-md-4 col-lg-4">
          <form action="">
            <label for="">mot de passe</label>
            <input type="password" class="form-control" placeholder="First name">
          </form>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label for="">confirmation mot de passe</label>
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label for="">Type</label>
        <input type="text" class="form-control" placeholder="First name">
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4">
        <label for="">Adresse</label>
        <input type="text" class="form-control" placeholder="First name">
      </div>
      
     </div> 
   

      <div class="col-sm-12 col-md-12 col-lg-12">
        <img >
        <input type="file" class="form-control " placeholder="First name" id="text1">
      </div>
    <div class="pt-2 p-2 " >
      <button mat-raised-button  id="btn1">Annuler</button> 
      <button mat-raised-button id="btn2">Soumettre</button>
    
    </div>
    
    </form>
  </div>
</div>
