.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.card{
  height: 40px !important;
  padding-top: 10px;
  padding: 10px;
  background-color: rgb(71, 71, 74);
  color: #fff;
}
.imgtab{
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
