<div class="grid-container">
  <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
      <h4 class="mb-3 mb-md-0 p-3"> Profil</h4>
    </div>
    <div class="d-flex align-items-center flex-wrap text-nowrap">
    
      <button type="button" class="btn  btn-icon-text mb-2 mb-md-0">
        <i class="btn-icon-prepend" data-feather="download-cloud" appFeatherIcon></i>
        /  Dashboard
      </button>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4  ">
        <mat-card>
          <img src="assets/images/pers1.png" alt="" class="imagelogo " alt="">
          <h3 class="text-center">Cameron Williamson</h3>
          <p class="text-center">Agent immobilier</p>
          <span class="text-center"><mat-icon>call</mat-icon>77 456 77 90</span>
          <span class="text-center"><mat-icon>email</mat-icon>cameron@immo.com</span>
          <span class="text-center"><mat-icon>location_on</mat-icon>Dakar ouakame cité Comico</span>
          <a mat-flat-button routerLink="#" class="text-left">Parametre</a>
        </mat-card>
      </div>
      <div class="col-sm-8 col-md-8">
        <mat-card>
          <mat-card-title class="pt-2 p-3">
            A Propos
          </mat-card-title>
          <mat-card-content class="text1">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti quo voluptatum vitae reprehenderit sint tempore, expedita dignissimos vero repellendus voluptate quisquam quae error perspiciatis dolores est quos! Est, sit esse! <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sunt perspiciatis magnam tempore quos at aut voluptate, sint natus, consequuntur nobis, rem possimus asperiores officia quibusdam dignissimos optio doloremque provident.
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
      <div>
        <h4 class="mb-3 mb-md-0 p-3"> Mes Propriétés</h4>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../assets/images/house2.png" class="img-fluid rounded-start" alt="...">
                <div class="card-img-overlay">
                  <div class="card-body text-light">
                    <button type="submit" class="btn btnConsulte">A Louer</button>
                  </div>
                </div>
          
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title cartitle">Villa De Creekland</h5>
                  <div class="row">
                    <div class="col">
                      <p class="nbr"><i class="bi bi-door-closed-fill"></i>&nbsp;&nbsp;6 Chambres</p>
                    </div>
                    <div class="col">
                      <p class="nbr"><i class="bi bi-0-square"></i>&nbsp;&nbsp;3 Salle de bain</p>
                    </div>
                    <div class="col">
                      <p class="nbr"><i class="bi bi-house-door"></i>&nbsp;&nbsp;2 Sallons</p>
                    </div>
                  </div>
                  <p class="card-text">
                    <i class="bi bi-geo-alt-fill"></i>
                    
                  </p>
                  <div class="row mnt">
                    <div class="col-sm-8 mtn">
                      <p class="cardF">200.000 Fcfa / Mois</p>
                    </div>
                    <div class="col-sm-4 icn">
                      <button mat-flat-button id="btndetail">details</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
      
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../assets/images/house2.png" class="img-fluid rounded-start" alt="...">
                <div class="card-img-overlay">
                  <div class="card-body text-light">
                    <button type="submit" class="btn btnConsulte">A Louer</button>
                  </div>
                </div>
          
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title cartitle">Villa De Creekland</h5>
                  <div class="row">
                    <div class="col">
                      <p class="nbr"><i class="bi bi-door-closed-fill"></i>&nbsp;&nbsp;6 Chambres</p>
                    </div>
                    <div class="col">
                      <p class="nbr"><i class="bi bi-0-square"></i>&nbsp;&nbsp;3 Salle de bain</p>
                    </div>
                    <div class="col">
                      <p class="nbr"><i class="bi bi-house-door"></i>&nbsp;&nbsp;2 Sallons</p>
                    </div>
                  </div>
                  <p class="card-text">
                    <i class="bi bi-geo-alt-fill"></i>
                    
                  </p>
                  <div class="row mnt">
                    <div class="col-sm-8 mtn">
                      <p class="cardF">200.000 Fcfa / Mois</p>
                    </div>
                    <div class="col-sm-4 icn">
                      <button mat-flat-button id="btndetail">details</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
