<section class="full">
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="../assets/images/team.png" alt="" class="imgabout" srcset="">
      </div>
      <div class="col">
        <div>
          <h1>Rejoindre l’aventure</h1>
          <p class="p1">Vous êtes bailleurs ou agents immobilières ? </p>
          <p class="p2">Rejoignez notre plateforme et gérer vos locations,
            depuis la publication de votre annonce jusqu'à la signature du contrat de location.
            Vous pouvez suivre l'état de votre annonce en temps réel, communiquer avec les locataires
            potentiels et finaliser les détails de
            votre location, tout en ayant un accès facile à toutes les informations nécessaires.</p>

        </div>
        <div class="divbtn">
          <!-- <button type="submit" class="btn btnConnect">Se connecter</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
          <button type="submit" class="btn btnInscrire" (click)="openLoginDialog()">Soumettre</button>
        </div>

      </div>
    </div>
  </div>

</section>
