<div class="grid-container">
  <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
    
      <h4 class="mb-3 mb-md-0">Paiement</h4>
      
    </div>
    <div class="d-flex align-items-center flex-wrap text-nowrap">
    
      <button type="button" class="btn  btn-icon-text mb-2 mb-md-0">
       <span>
        <mat-icon>home</mat-icon>
        /Propriétés
       </span> 
      </button>
    </div>
  </div>

  <div class="container ">
    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
      <div>
      
        <img src="assets/images/immo1.png" alt="" class="img">
        
      </div>
      <div class="d-flex align-items-center flex-wrap text-nowrap">
      
        <button type="button" class="btn  btn-icon-text mb-2 mb-md-0">
         <span>
          <h4 class="pt-2">Facture</h4>
          2015-04-23654789
         </span> 
        </button>
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
      <div>
      <span>
        <p>Urban Africa</p>
        <p>Urban Africa</p>
        <p>Urban Africa</p>
        <p>Urban Africa</p>
    
  
      </span>
        
      </div>
      <div class="d-flex align-items-left flex-wrap text-nowrap">
      
        <button type="button" class="btn  btn-icon-text mb-2 mb-md-0">
         <span>
          <h4 class="pt-2">date de facturation : <span>2015-04-23654789</span> </h4>
         </span> 
         <span>
          <h4 class="pt-2">date de facturation : <span><button mat-raised-button color="warn">Warn</button>
          </span> </h4>
         </span> 
         <span>
          <h4 class="pt-2">date de facturation : <span>2015-04-23654789</span> </h4>
         </span> 
        </button>
      </div>
    </div>
    <hr>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Articles</th>
          <th scope="col">Mois</th>
          <th scope="col">cout unitaire</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Habitats élégants</td>
          <td>Decembre</td>
          <td>4000000</td>
          <td>4000000</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Habitats élégants</td>
          <td>Decembre</td>
          <td>4000000</td>
          <td>4000000</td>
        </tr>
       
      </tbody>
    </table>

    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div>
          <h3>methode de paiement</h3>
          <div class="d-flex justify-content-left align-items-left flex-wrap grid-margin">
              <img src="assets/icon/visa.png" id="visa">
              <img src="assets/icon/visa.png" id="visa">
              <img src="assets/icon/visa.png" id="visa">
              <img src="assets/icon/visa.png" id="visa">
            
          </div>
          
          <div class="card">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quaerat fugiat voluptatibus numquam commodi provident, facere error minus rem, magnam deleniti voluptatem ratione, dolorum quibusdam laborum ab qui veritatis eveniet?</p>
          </div>
          
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
      
        
      </div>
      <div class="col-md-4 col-sm-4">
      
        <div >
      
          <button type="button" class="btn  btn-icon-text mb-2 mb-md-0">
           <span>
            <h4 class="pt-2">somme totale : <span>2013654FCFA</span> </h4>
           </span> 
           <span>
            <h4 class="pt-2">Remise: <span>12%</span> </h4>
           </span> 
           <span>
            <h4 class="pt-2">TVA: <span>12%</span> </h4>
           </span>
          </button>
          <H2>5000000FCFA</H2>
          <button mat-raised-button class="bnt1">Imprimer</button>&nbsp;
          <button mat-raised-button class="btn2">Envoyer</button>
        </div>
      </div>
    </div>
  </div>
</div>
