<section class="team-section pb-70">
  <div class="container">
    <div class="row pb-50">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <mat-card>
          <img class="imgeces" src="assets/images/immo1.png">
          <mat-card-content>
            <div class="row " id="testt">
              <div class="col-lg-4 col-sm-6 col-md-6 card">
                <span>4</span>
              </div>
              <div class="col-lg-8 col-sm-6 col-md-6">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium enim ipsum dolore commodi
                  alias. Eos tempora culpa nam libero possimus commodi ullam incidunt architecto perspiciatis, odio
                  aliquid. Quos, voluptatibus laboriosam?</p>
              </div>

            </div>
          </mat-card-content>

        </mat-card>

      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <mat-card>
          <img class="imgeces" src="assets/images/immo1.png">
          <mat-card-content>
            <div class="row " id="testt">
              <div class="col-lg-4 col-sm-6 col-md-6 card">
                <span>4</span>
              </div>
              <div class="col-lg-8 col-sm-6 col-md-6">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium enim ipsum dolore commodi
                  alias. Eos tempora culpa nam libero possimus commodi ullam incidunt architecto perspiciatis, odio
                  aliquid. Quos, voluptatibus laboriosam?</p>
              </div>

            </div>
          </mat-card-content>

        </mat-card>

      </div>

    </div> <br>
    <div class="row">
      <div class="col-lg-6 ">
        <mat-card>
          <img class="imgeces" src="assets/images/immo1.png">
          <mat-card-content>
            <div class="row " id="testt">
              <div class="col-lg-4 col-sm-6 col-md-6 card">
                <span>4</span>
              </div>
              <div class="col-lg-8 col-sm-6 col-md-6">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium enim ipsum dolore commodi
                  alias. Eos tempora culpa nam libero possimus commodi ullam incidunt architecto perspiciatis, odio
                  aliquid. Quos, voluptatibus laboriosam?</p>
              </div>

            </div>
          </mat-card-content>

        </mat-card>

      </div>

      <div class="col-lg-6 ">
        <mat-card>
          <img class="imgeces" src="assets/images/immo1.png">
          <mat-card-content>
            <div class="row " id="testt">
              <div class="col-lg-4 col-sm-6 col-md-6 card">
                <span>4</span>
              </div>
              <div class="col-lg-8 col-sm-6 col-md-6">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium enim ipsum dolore commodi
                  alias. Eos tempora culpa nam libero possimus commodi ullam incidunt architecto perspiciatis, odio
                  aliquid. Quos, voluptatibus laboriosam?</p>
              </div>

            </div>
          </mat-card-content>

        </mat-card>

      </div>

    </div>
  </div>
</section>
