.traitvert {
  width: 60px;
  margin-top: -5px;
  height: 6px;
  background-color: #6ea72f;
}
.nav-link {
  color: #333333;
}
.nav-tabs .nav-link.active {
  color: #6ea72f;
}
.accordion-button:not(.collapsed) {
  color: #6ea72f;
  font-family: "Open Sans";
  font-style: normal;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
  font-family: "Open Sans";
  font-style: normal;
}
.accordion-button::after {
  background-color: #d5e7c1;
  border-radius: 50%;
  font-family: "Open Sans";
  font-style: normal;
}
.cardform {
  padding: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-size: 23px;
  line-height: 50px;
  margin-top: 30px;
  color: #333333;
}
.btn {
  background-color: #6ea72f;
  color: #ffff;
}
.divtable {
  border: solid 1px #e9e7e7;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.carcontainer {
  padding-top: 50px;
}
.tab-content {
  margin-top: 50px;
}

.btnConsulte {
  padding: 5px 6px;
  background: #000000;
  border-radius: 6px;
  margin-top: -16px;
  font-size: 12px;
  margin-left: -20px;
  color: #ffffff;
}
.nbr {
  font-size: 10px;
  color: #333333;
}
.nbr i {
  color: #6ea72f;
}
.cardF {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #6ea72f;
  line-height: 10px;
}
.bi-geo-alt-fill {
  color: #6ea72f;
}
.cartitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 10px;
}
.card-text {
  font-size: 10px;
  line-height: 10px;
}
.card {
  /* box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05); */
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
  /* height: 150px; */
  margin-bottom: 10px;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  transform: scale(1.009);
}
.accordion-body {
  font-size: 15px;
  font-family: "Open Sans";
  font-style: normal;
  text-align: justify;
}

/* responsive mobile */
@media only screen and (min-width: 260px) and (max-width: 540px) {
  .cardform {
    padding: 7px;
    font-family: "Open Sans";
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    color: #333333;
  }
  .cartitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
  }
  .cardF {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #6ea72f;
    line-height: 10px;
  }
  h1 {
    font-size: 17px;
    margin-top: -32px;
  }
  .carcontainer {
    padding-top: 25px;
  }
  .accordion-button:not(.collapsed) {
    color: #6ea72f;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 10px;
  }
  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled),
  button:not(:disabled) {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 10px;
  }
  .accordion-body {
    font-size: 13px;
    font-family: "Open Sans";
    font-style: normal;
    text-align: justify;
  }
  .traitvert {
    width: 60px;
    margin-top: -15px;
    height: 4px;
    background-color: #6ea72f;
  }
  .btnConsulte {
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    padding: 5px;
  }
  .divtable {
    border: solid 1px #e9e7e7;
    padding: 20px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

/* responsive tablette */
@media only screen and (min-width: 768px) and (max-width: 920px) {
  .cardform {
    padding: 15px;
    font-family: "Open Sans";
    font-style: normal;
    font-size: 17px;
    line-height: 56px;
    color: #333333;
  }
}
