<div class="pt-100"></div>
<div class="blog-post-top pt-100">
  <div class="container">
    <div class="row pb-65 align-items-center">
      <div class="col-lg-8 col-md-12">
        <h1>Contactez-nous</h1>
        <div class="traitvert"></div>
        <p class="txtp1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam veritatis ab inventore amet
          eligendi aliquid
          vel iure aperiam. Ipsa at dolorem maiores vero totam, eaque tempora atque dignissimos quisquam accusamus?</p>
      </div>
    </div>
  </div>
</div>
<div class="main pt-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-7">
        <mat-card class="cardform">
          <form class="pt-10">
            <div class="row ">
              <div class="col-6 mb-3">
                <label for="inputAddress">Nom complet</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Nom complet">
              </div>
              <div class="col-6 mb-3">
                <label for="inputAddress">Email</label>
                <input type="email" class="form-control" id="inputAddress" placeholder="Email">
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="inputAddress">Sujet</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Sujet">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <div class="form-check mb-3">
              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1"
                aria-label="">
              <label for="">J'ai lu les termes et conditions</label>
            </div>
            <button type="submit" class="btn pt-50">Envoyer</button>
          </form>
        </mat-card>
      </div>

      <div class="col-lg-4 col-md-5 col-sm-5 main-service-area blog-side-bar">
        <div class="service-sidebar">
          <mat-card class="cardadress">
            <div class="text-center">
              <i class="bi bi-telephone bg"></i>
              <h3>Appel ou téléphone</h3>
              <p>+00 123 456 789 </p>
              <p>+00 987 654 321</p>
            </div>
            <hr>
            <div class="text-center">
              <i class="bi bi-send-fill bg"></i>
              <h3>Adresse e-mail</h3>
              <p>mail1@example.com </p>
              <p>mail2@example.com</p>
            </div>
            <hr>
            <div class="text-center">
              <i class="bi bi-geo-alt-fill bg"></i>
              <h3>Notre adresse</h3>
              <p>Dakar oukame cité avion </p>
              <p> pharmacie Millitaire</p>
            </div>

          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
