<section class="sect">
  <div class="container">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
      <mat-tab label="Tous">
        <div class="row">
          <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../assets/images/house2.png" class="img-fluid rounded-start" alt="...">
                  <div class="card-img-overlay">
                    <div class="card-body text-light">
                      <button type="submit" class="btn btnConsulte">A Louer</button>
                    </div>
                  </div>

                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title cartitle">Villa De Creekland</h5>
                    <div class="row">
                      <div class="col">
                        <p class="nbr"><i class="bi bi-door-closed-fill"></i>&nbsp;&nbsp;6 Chambres</p>
                      </div>
                      <div class="col">
                        <p class="nbr"><i class="bi bi-0-square"></i>&nbsp;&nbsp;3 Salle de bain</p>
                      </div>
                      <div class="col">
                        <p class="nbr"><i class="bi bi-house-door"></i>&nbsp;&nbsp;2 Sallons</p>
                      </div>
                    </div>
                    <p class="card-text">
                      <i class="bi bi-geo-alt-fill"></i>
                      {{location?.latitude}} {{location?.city}} {{location?.longitude}}
                    </p>
                    <div class="row">
                      <div class="col-sm-8 mtn">
                        <p class="cardF">200.000 Fcfa / Mois</p>
                      </div>
                      <div class="col-sm-4 icn"><i class="bi bi-share"></i> &nbsp;&nbsp; <i class="bi bi-heart"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../assets/images/house1.png" class="img-fluid rounded-start" alt="...">
                  <div class="card-img-overlay">
                    <div class="card-body text-light">
                      <button type="submit" class="btn btnConsulte">A Louer</button>
                    </div>
                  </div>

                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title cartitle">Villa De Creekland</h5>
                    <div class="row">
                      <div class="col">
                        <p class="nbr"><i class="bi bi-door-closed-fill"></i>&nbsp;&nbsp;6 Chambres</p>
                      </div>
                      <div class="col">
                        <p class="nbr"><i class="bi bi-0-square"></i>&nbsp;&nbsp;3 Salle de bain</p>
                      </div>
                      <div class="col">
                        <p class="nbr"><i class="bi bi-house-door"></i>&nbsp;&nbsp;2 Sallons</p>
                      </div>
                    </div>
                    <p class="card-text">
                      <i class="bi bi-geo-alt-fill"></i>
                      {{location?.latitude}} {{location?.city}} {{location?.longitude}}
                    </p>
                    <div class="row">
                      <div class="col-sm-8 mtn">
                        <p class="cardF">200.000 Fcfa / Mois</p>
                      </div>
                      <div class="col-sm-4 icn"><i class="bi bi-share"></i> &nbsp;&nbsp; <i class="bi bi-heart"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../assets/images/house2.png" class="img-fluid rounded-start" alt="...">
                  <div class="card-img-overlay">
                    <div class="card-body text-light">
                      <button type="submit" class="btn btnConsulte">A Louer</button>
                    </div>
                  </div>

                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title cartitle">Villa De Creekland</h5>
                    <div class="row">
                      <div class="col">
                        <p class="nbr"><i class="bi bi-door-closed-fill"></i>&nbsp;&nbsp;6 Chambres</p>
                      </div>
                      <div class="col">
                        <p class="nbr"><i class="bi bi-0-square"></i>&nbsp;&nbsp;3 Salle de bain</p>
                      </div>
                      <div class="col">
                        <p class="nbr"><i class="bi bi-house-door"></i>&nbsp;&nbsp;2 Sallons</p>
                      </div>
                    </div>
                    <p class="card-text">
                      <i class="bi bi-geo-alt-fill"></i>
                      {{location?.latitude}} {{location?.city}} {{location?.longitude}}
                    </p>
                    <div class="row">
                      <div class="col-sm-8 mtn">
                        <p class="cardF">200.000 Fcfa / Mois</p>
                      </div>
                      <div class="col-sm-4 icn"><i class="bi bi-share"></i> &nbsp;&nbsp; <i class="bi bi-heart"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../assets/images/house1.png" class="img-fluid rounded-start" alt="...">
                  <div class="card-img-overlay">
                    <div class="card-body text-light">
                      <button type="submit" class="btn btnConsulte">A Louer</button>
                    </div>
                  </div>

                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title cartitle">Villa De Creekland</h5>
                    <div class="row">
                      <div class="col">
                        <p class="nbr"><i class="bi bi-door-closed-fill"></i>&nbsp;&nbsp;6 Chambres</p>
                      </div>
                      <div class="col">
                        <p class="nbr"><i class="bi bi-0-square"></i>&nbsp;&nbsp;3 Salle de bain</p>
                      </div>
                      <div class="col">
                        <p class="nbr"><i class="bi bi-house-door"></i>&nbsp;&nbsp;2 Sallons</p>
                      </div>
                    </div>
                    <p class="card-text">
                      <i class="bi bi-geo-alt-fill"></i>
                      {{location?.latitude}} {{location?.city}} {{location?.longitude}}
                    </p>
                    <div class="row">
                      <div class="col-sm-8 mtn">
                        <p class="cardF">200.000 Fcfa / Mois</p>
                      </div>
                      <div class="col-sm-4 icn"><i class="bi bi-share"></i> &nbsp;&nbsp; <i class="bi bi-heart"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../assets/images/house2.png" class="img-fluid rounded-start" alt="...">
                  <div class="card-img-overlay">
                    <div class="card-body text-light">
                      <button type="submit" class="btn btnConsulte">A Louer</button>
                    </div>
                  </div>

                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title cartitle">Villa De Creekland</h5>
                    <div class="row">
                      <div class="col">
                        <p class="nbr"><i class="bi bi-door-closed-fill"></i>&nbsp;&nbsp;6 Chambres</p>
                      </div>
                      <div class="col">
                        <p class="nbr"><i class="bi bi-0-square"></i>&nbsp;&nbsp;3 Salle de bain</p>
                      </div>
                      <div class="col">
                        <p class="nbr"><i class="bi bi-house-door"></i>&nbsp;&nbsp;2 Sallons</p>
                      </div>
                    </div>
                    <p class="card-text">
                      <i class="bi bi-geo-alt-fill"></i>
                      {{location?.latitude}} {{location?.city}} {{location?.longitude}}
                    </p>
                    <div class="row">
                      <div class="col-sm-8 mtn">
                        <p class="cardF">200.000 Fcfa / Mois</p>
                      </div>
                      <div class="col-sm-4 icn"><i class="bi bi-share"></i> &nbsp;&nbsp; <i class="bi bi-heart"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../assets/images/house1.png" class="img-fluid rounded-start" alt="...">
                  <div class="card-img-overlay">
                    <div class="card-body text-light">
                      <button type="submit" class="btn btnConsulte">A Louer</button>
                    </div>
                  </div>

                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title cartitle">Villa De Creekland</h5>
                    <div class="row">
                      <div class="col">
                        <p class="nbr"><i class="bi bi-door-closed-fill"></i>&nbsp;&nbsp;6 Chambres</p>
                      </div>
                      <div class="col">
                        <p class="nbr"><i class="bi bi-0-square"></i>&nbsp;&nbsp;3 Salle de bain</p>
                      </div>
                      <div class="col">
                        <p class="nbr"><i class="bi bi-house-door"></i>&nbsp;&nbsp;2 Sallons</p>
                      </div>
                    </div>
                    <p class="card-text">
                      <i class="bi bi-geo-alt-fill"></i>
                      {{location?.latitude}} {{location?.city}} {{location?.longitude}}
                    </p>
                    <div class="row">
                      <div class="col-sm-8 mtn">
                        <p class="cardF">200.000 Fcfa / Mois</p>
                      </div>
                      <div class="col-sm-4 icn"><i class="bi bi-share"></i> &nbsp;&nbsp; <i class="bi bi-heart"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </mat-tab>
      <mat-tab label="A vendre ">Content 2</mat-tab>
      <mat-tab label="A Louer ">Content 3</mat-tab>
      <mat-tab label="Cohabitation ">Content 4</mat-tab>
    </mat-tab-group>

  </div>
</section>
