<app-header></app-header>
<app-bannerdetailpro></app-bannerdetailpro>

<div class="container">
  <div class="container">
    <div class="container">
      <div class="row grow">
        <div class="col-lg-8 col-md-7 col-sm-6 carcontainer">

          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <h1>Orchard House</h1>
                </div>
                <div class="col-3 colon">
                  <button type="submit" class="btn btnInscrire">S'engager</button>

                </div>
              </div>
              <p class="card-text">
                <i class="bi bi-geo-alt-fill"></i>
                {{location?.latitude}} {{location?.city}} {{location?.longitude}}
              </p>
              <div class="row">
                <div class="col-9">
                  <p class="nbr"><i class="bi bi-door-closed-fill"></i>&nbsp;&nbsp;6 Chambres
                    &nbsp;&nbsp;&nbsp;&nbsp; <i class="bi bi-0-square"></i>&nbsp;&nbsp;3 Salle de bain
                    &nbsp;&nbsp;&nbsp;&nbsp; <i class="bi bi-house-door"></i>&nbsp;&nbsp;2 Sallons
                  </p>
                </div>

                <div class="col-3 colon">
                  <p>
                    <span class="badge">Parking</span>&nbsp;&nbsp;
                    <span class="badge ">Wifi</span>
                  </p>
                </div>
              </div>

            </div>

          </div>
          <div class="gallery mt-5">
            <div class="">
              <div class="img-container">
                <img src="../assets/images/house1.png" alt="" id="preview" detailImage>
                <div class="img-prev text-center">
                  <div class="img-slide active">
                    <img src="../assets/images/house1.png" alt="" srcset="" detailImage>
                  </div>
                  <div class="img-slide">
                    <img src="../assets/images/house2.png" alt="" srcset="" detailImage>
                  </div>
                  <div class="img-slide">
                    <img src="../assets/images/house1.png" alt="" srcset="" detailImage>
                  </div>
                  <div class="img-slide">
                    <img src="../assets/images/house1.png" alt="" srcset="" detailImage>
                  </div>
                  <div class="img-slide">
                    <img src="../assets/images/house1.png" alt="" srcset="" detailImage>
                  </div>
                  <div class="img-slide">
                    <img src="../assets/images/house2.png" alt="" srcset="" detailImage>
                  </div>
                  <div class="img-slide">
                    <img src="../assets/images/house2.png" alt="" srcset="" detailImage>
                  </div>
                  <div class="img-slide">
                    <img src="../assets/images/house2.png" alt="" srcset="" detailImage>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="apropos">
            <h2>
              À propos
            </h2>
            <p>
              Loren ipsum Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et.
              Sunt qui esse pariatur duis deserunt mollit dolore cillum minim tempor enim.
              Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate aute
              id deserunt nisi.
            </p>
            <p>
              Loren ipsum Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et.
              Sunt qui esse pariatur duis deserunt mollit dolore cillum minim tempor enim.
              Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate aute id deserunt nisi.
              Loren ipsum Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et.
              Sunt qui esse pariatur duis deserunt mollit dolore cillum minim tempor enim.
              Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate aute id deserunt nisi.
            </p>
          </div>
          <div class="container">
            <iframe id="inlineFrameExample" title="Inline Frame Example" width="600" height="500"
              src="https://www.openstreetmap.org/relation/192775#map=19/14.71105/-17.46866">
            </iframe>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6 container">

          <div class="divtable">
            <h2>Commodités</h2>
            <table class="table table-bordered">

              <thead>
                <tr>
                  <td>Prix:</td>
                  <td>200.000 Fcfa / Mois</td>
                </tr>
                <tr>
                  <td>Type de contrat:</td>
                  <td>Location</td>
                </tr>
                <tr>
                  <td>Salles de bain:</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>Places de garage:</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>Disponible:</td>
                  <td>Immédiatement</td>
                </tr>
                <tr>
                  <td>Chambres:</td>
                  <td>8</td>
                </tr>
                <tr>
                  <td>Salon :</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>Climatisation:</td>
                  <td>Oui</td>
                </tr>
                <tr>
                  <td>Internet:</td>
                  <td>Oui</td>
                </tr>
                <tr>
                  <td>Piscine:</td>
                  <td>Non</td>
                </tr>
              </thead>
            </table>
            <button type="submit" class="btn btnEngager">S'engager</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
